[Unit]
Description=NexoWatt EOS restricted test system
Requires=nexowatt-eos-redis@objects.service nexowatt-eos-redis@states.service nexowatt-eos-controller.service
After=nexowatt-eos-redis@objects.service nexowatt-eos-redis@states.service nexowatt-eos-controller.service

[Install]
WantedBy=multi-user.target
