<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="shortcut icon"
            href="./nexowatt-backup.png"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta
            name="theme-color"
            content="#03111C"
        />
        <link
            rel="manifest"
            href="%PUBLIC_URL%/manifest.json"
            crossorigin="use-credentials"
        />
        <script type="text/javascript" src="./../../lib/js/socket.io.js"></script>
        <title>NexoWatt EOS Backup</title>
      <script type="module" crossorigin src="./assets/index-WNnhOy0_.js"></script>
      <link rel="stylesheet" crossorigin href="./assets/index-ClPHzlUs.css">
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="root"></div>
    </body>
</html>
